@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/public/font/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('/public/font/open-sans/OpenSans-Semibold.ttf');
}

body::-webkit-scrollbar {
    width: 5px;
    background: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background: #095291;
}

body {
    font-family: OpenSans-Regular;
}

header {
    position: sticky;
    background-color: white;
    z-index: 20;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    height: 50px;
    top: 0;
    padding: 5px 0 15px 0;
    background-color: white;
}

header ul li {
    display: inline-block;
    list-style: none;
    font-size: 16px;
    padding: 5px 25px;
    vertical-align: middle;
    text-transform: uppercase;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-family: OpenSans-Semibold;
}

header ul li a span {
    transition: .5s;
}

header ul li a i {
    margin-right: 15px;
}


header .phone a {
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

header .filter-data i {
    margin-right: 10px;
}

header .mobile-burger, header .hide-menu i {
    background-color: #EBEBEB;
    font-size: 32px;
    padding: 5px 10px;
}

header .mobile-burger, header .mobile-logo, header .hide-menu {
    display: none;
}

header .hide-menu i {
    font-size: 15px;
    margin-right: 20px;
}

header .hide-menu {
    width: 100%;
    text-align: right;
}

.back-hide {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: black;
    opacity: 0.6;
}

main {
    min-height: 350px;
}

footer {
    text-align: center;
    background-color: #F5F5F5;
}

footer .content div {
    text-align: left;
    display: inline-block;
    margin: 30px;
    vertical-align: top;
}

footer .content ul {
    margin-left: -40px;
}

footer .content ul li {
    list-style: none;
    padding: 5px 10px;
}

footer .content ul li a {
    color: black;
}

.hidden {
    display: none;
}

.popup {
    display: none;
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    background-color: white;
    padding: 45px;
    border: 1px solid gray;
}

.popup input {
    width: 100%;
    box-sizing: border-box;
}

.popup .title-block {
    text-align: left;
    font-weight: bold;
}

.popup .title-block .active {
    color: #F20009;
    text-decoration: underline;
}

.popup .title-block div:first-child {
    margin-right: 25px;
}

.popup .title-block div {
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
}

.popup {
    max-height: 468px;
}

.popup .form div {
    text-align: left;
    margin-top: 16px;
}

.popup form {
    margin-top: 26px;
}

.popup form input {
    padding: 10px;
    background-color: #F2F2F2;
    border: none;
}

.popup form .events {
    text-align: left;
}

.popup form input[type=submit] {
    background-color: #F20009;
    color: white;
    width: 180px;
}

.popup form input[type=submit], .popup form .cancel {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

input[type=hidden] {
    display: none;
}

.close, .close-call-me {
    position: absolute;
    font-size: 32px;
    color: #f20009;
    cursor: pointer;
    top: 20px;
    right: 30px;
}

header ul li a:hover {
    color: #1B60C0;
}

.active-tab a{
    color: #1B60C0;
}

.options {
    position: relative;
    text-align: right;
    width: 95%;
}

.options .logo {
    position: absolute;
    left: 10px;
    top: -15px;
}

.options .phone {
    left: 90px;
    position: absolute;
}

.options .logo img {
    height: 50px;
}

.main-content {
    min-height: 600px;
    background-image: url("/public/images/Big-Photo.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.item-info {
    color: #414B58;
    width: 30%;
    margin: 25px 10px;
}

.item-info h3 {
    text-transform: uppercase;
}

.item-info h1 {
    font-weight: bolder;
    border-bottom: 4px solid #1B60C0;
}

.item-info p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.item-info a {
    color: #1B60C0;
    font-weight: bold;
    text-transform: uppercase;
}

.order-form {
    background-color: white;
    background-image: url("/public/images/Grey-Decor.png");
    background-size: cover;
    box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.1)
}

.image img {
    width: 100%;
}

.main-content {
    position: relative;
    text-align: center;
}

.main-content .item-info, .reviews .item-info {

    padding: 25px 10px;
}

.order-form {
    display: flex;
    justify-content: space-between;
}

.order-form .form {
    width: 55%;
}

.order-form .image {
    width: 40%;
}

.order-form .form, .order-form .image {
    display: inline-block;
    vertical-align: top;
}

.map-block {
    background-color: white;
    border: 1px solid #D7D8DB;
}

.map-block .map {
    height: 380px;
}

.map-block .map iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.order-form .data .item-data {
    margin-top: 15px;
}

.order-form .data .item-data label, .order-form .data .item-data input, .order-form .data .item-data select {
    text-align: left;
    display: block;
    width: 100%;
}

.order-form .data .item-data input, .order-form .data .item-data select {
    background: #FFFFFF;
    margin-top: 3px;
    border: 1px solid #F57A00;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 2px;
}

.calculate table {
    width: 100%;
    margin-top: 5px;
}

.calculate table i {
    font-size: 20px;
}

.order-form .form .switch {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.order-form .send-order {
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 5px;
    transition: 0.35s;
    background: linear-gradient(90deg, #FF7700 0%, #FF941A 100%);
    box-shadow: 0px 15px 15px rgba(245, 122, 0, 0.2);
    border-radius: 2px;
    box-sizing: border-box;
}

.order-form .send-order:hover {
    border-radius: 25px;
}

.container {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #FF7700;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.text-info {
    text-align: left;
}

.text-info h1 {
    width: 280px;
    font-weight: bolder;
    font-size: 50px;
    margin: 5px 0;
}

.text-info .wi-fi {
    margin-top: 25px;
    display: inline-flex;
    width: 100%;
}

.text-info .wi-fi div {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #414B58;
    margin-top: 20px;
    margin-left: 25px;

}

.mouse-icon {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -60px;
}

.back-hide {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: black;
    opacity: 0.6;
}

.active {
    display: block !important;
    transition: 0.85s;
}


footer .footer-block {
    background-image: url("/public/images/Footer-back.png"); /*, linear-gradient(to right, #6DB3F2, #293c56);*/
    display: flex;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 16px;
    padding: 10px 0;
    margin-top: -30px;
}

footer .footer-block .logo-site {
    width: 100%;
}

footer .footer-block .logo-site::after {
    content: ' ';
    height: 20px;
    display: block;
    margin-top: 0;
    background-color: #293c56;
}

footer .footer-block img {
    width: 50px;
}

footer .footer-block .logo-site {
    margin-top: 25px;
}

footer .map-block {
    background-image: url("/public/images/Map-screen.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    min-height: 550px;
}

footer .map-block .contacts-card {
    background-color: white;
    border-top: 3px solid #095291;
    width: 300px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}

@media only screen and (max-width: 1366px) {
    .main-content .order-form {
        width: 40%;
    }

    .main-content .map-block {
        width: 35%;
    }

    .text-info h1 {
        width: 230px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 1024px) {
    header {
        top: 0;
        padding-top: 5px;
        height: auto;
    }

    header .head {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
    }

    header .mobile-burger, header .mobile-logo, header .hide-menu {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }

    header .mobile-burger {
        padding: 10px;
    }

    header .menu-block .close-category {
        display: block;
    }

    header ul li {
        text-align: left;
        display: block;
        padding: 9px 25px;
        margin-left: -40px;
    }

    header ul li.logo {
        display: none;
    }

    footer .content div {
        margin: 15px;
    }

    .options {
        display: none;
        z-index: 20;
        position: fixed;
        right: 0;
        top: -16px;
        height: 100%;
        margin-top: 10px;
        padding-top: 20px;
        background-color: white;
        width: 250px;
        transition: visibility .35s;
    }

    .options .phone {
        left: 0;
        position: initial;
    }

    .main-content {
        display: block;
    }

    .main-content .text-info {
        padding: 0 20px;
        width: auto;
        display: block;
        margin-top: 0;
        height: auto;
    }

    .text-info .wi-fi div {
        display: inline-block;
        vertical-align: top;
    }

    .main-content .order-form, .main-content .map-block {
        width: 40%;
        display: inline-block;
        vertical-align: middle;
        height: 480px;
    }

    .order-form .form {
        width: 90%;
    }

    .main-content .item-info p {
        display: none;
    }

    .item-info h1 {
        border-bottom: none;
    }

    .item-info a {
        display: none;
    }

    .main-content .text-info .info-info, .main-content .text-info .wi-fi {
        display: inline-block;
        width: 45%;
    }

    .main-content .text-info .wi-fi {
        text-align: right;
    }

    .order-form .image {
        display: none;
    }

    footer .footer-block .logo-site::after {
        margin-top: -5%;
        height: 100px;
    }

}

@media only screen and  (max-width: 768px) {
    .main-content .text-info {
        display: none;
    }

    .main-content .order-form, .main-content .map-block {
        display: block;
        margin: auto;
        width: 90%;
    }

    .order-form .form {
        width: 90%;
    }

    .popup {
        width: 90%;
        padding: 10px;
    }

    .mouse-icon {
        display: none;
    }

    header .mobile-logo img {
        height: 60px;
    }

    footer .footer-block .logo-site::after {
        margin-top: -10%;
        height: 100px;
    }

    footer .footer-block .logo-site {
        margin-top: 20px;
        font-size: 14px;
    }

}

@media only screen and  (max-width: 480px) {
    footer .footer-block .logo-site::after {
        margin-top: -20%;
        height: 150px;
    }
}

@media only screen and  (max-width: 370px) {
    footer .footer-block .logo-site::after {
        margin-top: -28%;
    }
}


@media only screen and  (max-width: 320px) {
    header .menu-block ul .name {
        margin-left: -15px;
    }
}
